@media (max-width:500px) {
    #nav-icons {
        gap: 10px;
        width: 80px;
        margin: 0 4px 0 0;
    }

    #red-box {
        margin-left: -18px;
    }

    #HeroMain p {
        font-size: 60px;
    }

    #HeroMain span {
        padding: 0;
    }

    #popular-item {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #item img {
        height: 220px;
    }

    #newCollection-item {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }
    #newslater{
        padding: 30px;
    }
    #newslater form{
         width: 300px;
    }
    #footer-logo{
        height: 40px;
    }
    #footer-logo-p{
        font-size: 32px;
    }
    #footer-ul{
        flex-direction: column;
    }
    #footer-li{
        padding-left: 150px;
        padding-right: 150px;
    }
    #footer-copyright{
        font-size: 16px;
    }
}