@media (max-width:500px) {
    #nav-icons {
        gap: 10px;
        width: 80px;
        margin: 0 4px 0 0;
    }
    #mobileMenu{
        margin-left: -40px;
    }

    #red-box {
        margin-left: -18px;
    }

    #HeroMain p {
        font-size: 60px;
    }

    #HeroMain span {
        padding: 0;
    }

    #popular-item {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #item img {
        height: 220px;
    }
    #offers img{
        display: none;
    }
    #newCollection-item {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }
    #newslater{
        padding: 30px;
    }
    #newslater form{
         width: 300px;
    }
    #footer-logo{
        height: 40px;
    }
    #footer-logo-p{
        font-size: 32px;
    }
    #footer-ul{
        flex-direction: column;
    }
    #footer-li{
        padding-left: 150px;
        padding-right: 150px;
    }
    #footer-copyright{
        font-size: 16px;
    }
    #shopcategory p{
        font-size: 12px;
    }
    #shopcategory-image{
        margin-top: 8px;
        width: 96%;
    }
    #shopcategory-div{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #shopcategory-div img{
        height: 8px;
        width: 10px;
        margin-top: 6px;
    }
    #shopcategory #more-btn{
        font-size: 15px;
        width: 130px;
    }
    #login-inner{
        width:300px ;
        padding-left: 30px;
        padding-right: 30px;
    }
    #login-inner h1{
       font-size: 25px;
    }
    #login-inner #name{
        height: 35px;
       font-size: 15px;
    }
    #login-inner #email{
        height: 35px;
       font-size: 15px;
    }
    #login-inner #password{
        height: 35px;
       font-size: 15px;
    }
    #login-inner #submit{
        height: 45px;
       font-size: 20px;
       margin-top: 10px;
    }
    
    #login-inner #para1{
       font-size: 16px;
    }
    #login-inner #para2{
       font-size: 14px;
       margin-bottom: 10px;
    }
    
}